.title {
    position: fixed;
    height: 50px;
    width: 300px;
    top: 10%;
    left: 50%;
    margin-top: -25px;   /* = -height / 2   */
    margin-left: -150px; /* = -width / 2    */
    font-size: 36px;
    text-align: center;
    font-style: italic;
}

button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: fixed;
    height: 70px;
    width: 70px;
    top: 45%;
    left: 50%;
    margin-top: -35px;   /* = -height / 2   */
    margin-left: -35px; /* = -width / 2    */
    font-size: 16px;
}

.lemma-div {
    position: fixed;
    height: 10px;
    width: 70px;
    top: 52.5%;
    left: 50%;
    margin-top: -5px;   /* = -height / 2   */
    margin-left: -35px; /* = -width / 2    */
    font-size: 16px;
    text-align: center;
}